name: Docker Build & Push

on:
  push:
    branches: 
      - 'master'
    tags:
      - 'v*'
  pull_request:
    branches: 
      - 'master'

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set Docker tags
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: revisoren/monitoring
          tags: |
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=raw,value=latest,enable={{is_default_branch}}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: revisoren
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push to Docker Hub
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
          
      - name: Push to Portainer
        if: github.event_name != 'pull_request'
        run: |
          curl -X POST ${{ secrets.PORTAINER_WEBHOOK_URL }} -H "Content-Type: application/json" \
            -d '{"repository":"revisoren/monitoring:latest"}'